project:
  type: website
  output-dir: docs
  
website:
  title: "GEMs"
  navbar:
    left:
    - text: Home
      href: index.qmd
    - text: Modules
      href: modules.qmd
    - text: Contact Us
      href: contact.qmd

format:
  html:
    theme: minty
    css: styles.css
    toc: true
